.tokenIcon {
  margin-left: 1rem;
  width: 2rem;
  min-width: max-content;
  height: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.formLabel {
    margin-top: 1rem;
}

.chooseTokenToPayWithContainer {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  margin: 0.5rem 0;
}

.flip {
  transform: rotate(180deg);
}