.headerContainer {
  display: flex;
  background-color: #8542eb;
  width: 100%;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  padding-inline: 0.5rem;
  align-items: center;
}

.gameContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  border: 1px solid gold;
  font-family: Bubblegum Sans !important;
  background-size: cover;
  background-position: center;
}
.headerButtonsContainer {
  display: flex;
  justify-content: space-around;
  margin: 0.5rem 0;
  width: 100%;
}
.gameName {
  font-weight: bolder;
}

.headerLeftPortionContainer {
  padding-left: 1rem;
}

.headerRightPortionContainer {
  display: flex;
  justify-content: right;
  min-width: 200px;
  gap: 0.5rem;
  padding-right: 0.5rem;
}

.headerCheddarIcon {
  width: 100px;
}

.menuList {
  width: 180px;
  min-width: unset !important;
}

.balanceTitle {
  margin-right: 5px;
}

.ourSocialMedia {
  position: relative;
  z-index: 4;

  color: white;
  display: flex;
  flex-flow: row;
  align-items: center;
  margin: 5px 15px 0px 15px;
}

.socialMediaLinks {
  color:  #222;
  margin: 0 0 0 0.6rem;
  width:  1.5em;
}

.socialMediaLinks:focus {
  outline-style: none;
  outline-color: #8542eb;
  box-shadow: none;
  outline-width: 0px;
}

.balance {
  margin-right: 5px;
}

.musicIcon {
  padding: 2px;
  padding-top: 5px;
  border-radius: 30px;
  height: 2rem;
  border: 1px solid mediumslateblue;
  cursor: pointer;;
}
.warningText{
  display: flex;
  align-items: center;
  gap:0.2rem;
}

.notEnoughBalanceMsg {
  font-size: 18px;
  font-weight: bold;
  margin-inline: 0.1rem;
  color: #8542eb !important;
  text-decoration: underline !important;
}
.mazeContainer {
  border-radius: 5px;
  overflow: hidden;
  width: fit-content;
  border: 3px solid #8542eb;
}
.playerActive {
  z-index: 1;
}
.debugInfo {
  display: none;
}
.gameName {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
}
.header {
  font-weight: bolder;
  margin: 0 auto;
}
.userName {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}
.burguerButton {
  z-index: 10;
}
.gameInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  margin-bottom: 10px;
}
.score {
  flex: 1;
  text-align: center;
}
.toolbar {
  display: flex;
  justify-content: space-between;
  background-color: #8542eb;
  align-items: center;
  gap:0.5rem;
}
.tooltip {
  position: relative;
  display: flex;
  text-align: right;
  align-items: right;
  padding: 5px;
  gap: 5px;
}
.powerUpButton {
  /* background-color: isPowerUpOn ? '#007bff' : '#AAB8C2', */
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.tooltipText {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
.time {
  flex: 1;
  text-align: center;
}
.rulesButton {
  padding: 5px;
}
.hideButton {
  z-index: -1;
}
.buyLink {
  color: yellow;
  text-decoration: none;
}
.popup {
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 3;
  border-radius: 5px;
  right: 5px;
  min-width: 300px;
  overflow-y: scroll;
  max-height: 400px;
}
.togglePlayModeIconContainer {
  width: 20px;
  height: 20px;
}
.arrowButtonsContainer {
  position: absolute;
  bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;  
  left: 50%;
  right: 50%;
  opacity: 0.6;
}
.arrowButtonsFirstLine {
  display: flex;
  justify-content: center;
}
.arrowButtonsSecondLine {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.logoContainer {
  display: flex;
  gap:0.2rem;
  align-items: center;
}

.logoText {
  font-weight: 700;
}

.textWhite {
  color:white;
}

.flexAlignCenter {
  display: flex;
  align-items: center;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}


.textCenter {
  text-align: center;
}

.marginLeftSm {
  margin-left: 0.4rem;
}

.loginContainer {
  min-width: 100px;
}

.publicityDecoration {
  position: relative;
  height: 30px;
  z-index: 0;
  width: 100%;
  background: linear-gradient(180deg, #8542eb, transparent);
}

@media screen and (max-width: 720px) {
  .publicityDecoration {
    height: 20px;
  }
}

.startGameBg {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(34, 34, 34, 0.6); 
  height: 300px;
  width: 300px;
  border: 10px solid rgba(255, 255, 255, 0.8); 
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px; 
}