.gameOverModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameOverModal > * {
  text-align: center;
}

.gameOver {
  font-size: 1.5rem;
  font-weight: bold;
}

.win {
  color: #7ED957;
}

.lost {
  color: #F1506B;
}

.score {
  font-size: 1.5rem;
  font-weight: bolder;
}

.timeRemaining {
    font-size: 1rem;
  font-weight: bold;
}

.earnings {
    font-size: 1.5rem;
    font-weight: bolder;
}

.loseEarnings {
  font-size: 1.2rem;
  font-weight: bolder;
}
.shareContainer {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 20px;
}