.mazeRow {
  display: flex;
}
.mazeCell {
  display: flex;
  flex: 0 0 auto;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  padding: 5px;
  position: relative;
  border-style: solid;
  border-width: 1px;
}
.staticIcon {
  position: absolute;
}
.playerCell {
  pointer-events: none;
  
  position: relative;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  position: relative;
  /* z-index: 2; */
  z-index: 0;
}
.playerMoveUp {
  transform: rotate(-90deg);
}
.playerMoveDown {
  transform: rotate(90deg);
}
.playerMoveLeft {
  transform: scaleX(-1);
}
.playerMoveRight {
  display: block;
}
.orderedListContainer {
  z-index: 5;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
}