.plinkoBoardContainer {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerContainer {
  width: 100%;
  display: flex;
  justify-content: left;
  /* gap: 1rem; */
}

.plinkoGame {
  margin-top: 0.5rem;
  background-image: url("../../public/assets/modal-background.svg");
  border: 0.4rem solid white;
  border-radius: 8px;
}

.displayablePrizeContainer {
  position: absolute;
  top: 25vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

.displayablePrize {
  color: #ecc94b;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
  user-select: none;

  width: max-content;
  padding: 0.5rem;
  border-radius: 20px;
  background-color: rgb(255, 255, 255, 0.5);
}

.show {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.hide {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
