.container {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.8rem 0;
    background-color: #FFFFFF;
}

.secondContainer {
    width: 100%;
    max-width: 360px;
    display: flex;
    justify-content: space-between;
}