ul {
    margin: 0;
}

h1{
    margin-bottom: 0;
}

.subtitle{
    font-weight: bold;
    padding-top: 5px;
}

.hidden{
    display: none;
}

.login-button{
    margin-top: 0px;
    font-size: larger;
}

.active-player {
    background-color: #eee;
    padding: 3px;
    cursor: default;
}
