html {
  --white: white;
  --bg: #f8f9fa;
  --fg: #333333;
  --primary-selected: #9d67ef;
  --primary: #8542eb;
  --primary-low: #8542eb70;
  --secondary: #4bc7ef;
  --success: rgb(90, 206, 132);
  --input: #f6f2fd;
  --yellow: #f9ba37;
  --second-yellow: #ffd262;
  --second-yellow-selected: rgba(255, 210, 98, 0.66);
  --gray: #555;
  --new-gray: #9c9494;
  --second-new-grey: #ebe7f5;
  --light-gray: #ccc;
  --shadow: #e6e6e6;
  background-color: var(--bg);
  font-family: 'Titillium Web', sans-serif;
  --publicity-height: 130px;
  /*body font*/
  font-size: 13px;
  font-weight: 500;
  /* identical to box height, or 123% */
  color: var(--fg);
  background: url(../img/cheddar-background.png) top center / contain no-repeat;
  background-size: 100% auto;
  background-color: #5e8c01;
  /* Fill width, retain proportions */
}

.hidden {
  display: none !important;
}

.flipped {
  transform: rotate(180deg);
}

html {
  background-image: url('../img/cheddar-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: saddlebrown;
}

html,
body {
  /* position: absolute; */
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #333333;
  font-family: 'Bubblegum Sans', cursive !important;
  font-size: 16px;
}

html h1,
body h1 {
  margin-top: 10px;
}

html h2,
body h2 {
  font-size: 1.3em;
}

html h3,
body h3 {
  font-size: 1.1em;
}

html a,
body a {
  text-decoration: none;
  color: #333333;
  font-weight: 700;
}

html a:hover,
body a:hover {
  text-decoration: underline;
}

html hr,
body hr {
  border: 0;
  height: 1px;
  background-color: #333;
  background-image: linear-gradient(to right, #333333, #ccc);
}

html .clearfix,
body .clearfix {
  clear: both;
}

div.column {
  position: relative;
  height: 100%;
  min-height: 100%;
  width: 45%;
  margin: 10px;
}

.double-jump-button-container {
  background-color: #f1f1ff;
  width: max-content;
  margin: 5px auto;
  padding: 5px;
  border-radius: 12px;
}

header {
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 15px 15px 0px 15px;
}

header nav {
  flex: 1 1 30%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;

  z-index: 19;
}

header nav a {
  flex: 0 1 auto;
}

#cheddar-mark {
  line-height: 34px;
}

#burguer-button {
  display: none;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.705);
  width: max-content;
  border-radius: 8px;
  margin: 5px;
  z-index: 6;
  align-items: center;
  max-height: 40px;
}

@media screen and (max-width: 780px) {
  header {
    overflow: hidden;
    justify-content: space-between;
  }

  .nav-bar {
    width: auto !important;
  }

  .show-in-big-screen {
    display: none !important;
  }

  .games-links-container {
    display: flex !important;
    max-width: 30vw !important;
    flex-wrap: wrap;
    justify-content: center;
  }

  .games-links-container .btn {
    padding: 4px;
  }

  #burguer-button {
    display: flex;
  }

  .logo-in-mobile {
    display: block !important;
  }

  .only-hide-on-mobile {
    transform: translateX(100%) !important;
  }

  #links {
    position: fixed;
    top: 0;

    z-index: 5;

    height: 100vh;
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    background-color: white;

    transition: all ease-in-out 0.3s;
    transform: translateX(-73%);
  }

  .general-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
  }

  #swap-icon {
    top: 7px !important;
    padding: 0 !important;
  }

  .games-dropdown,
  .user-dropdown {
    border: 1px solid black !important;
  }

  .games-links-container,
  .user-container {
    border: 1px solid black;
  }

  .games-dropdown-items {
    right: auto;
    left: 5px;
  }

  .logo-in-mobile {
    order: 1;
  }

  .user-section {
    order: 2 !important;
  }

  .general-links {
    order: 3 !important;
  }

  .game-links {
    order: 4 !important;
    top: 5px;
  }
}

.logo:focus {
  outline-style: none;
  outline-color: (--primary);
  box-shadow: none;
  outline-width: 0px;
}

.logo-in-mobile {
  display: none;
  width: 60vw;
  margin-top: 24px !important;
}

#links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
  align-items: center;
}

#links a,
.coinFlip,
.farm {
  font-family: Bubblegum Sans !important;
  font-weight: bold;
  font-size: 14px;
  margin: 5px;
  white-space: nowrap;
}

.VRFarm svg {
  top: 4px;
}

#swap-icon {
  border: solid 4px #6495ed70;
  border-radius: 100%;
  background-color: #6495ed70;
  top: 10px;
  margin-left: 5px;
  padding: 3px;
}

.draw,
.VRFarm {
  width: 68px;
}

.coinFlip img,
.farm img,
.VRFarm svg {
  position: relative;
  top: 5px;
  height: 19px;
  aspect-ratio: 1;
}

.games-dropdown,
.user-dropdown {
  text-align: center;
  width: max-content;
}

.games-dropdown svg,
.user-dropdown svg {
  transition: all 0.3s linear;
}

.games-dropdown {
  top: 5px !important;
}

.user-dropdown {
  top: 9px !important;
}

.show-in-big-screen {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.game-links,
.user-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 5px;
}

.game-links {
  order: 1;
}

.general-links {
  order: 2;
  text-align: right;
}

.user-section {
  top: 10px;
  order: 3;
}

.not-connected-text {
  margin: 7px 0 0 0;
}

.droped-down {
  border-radius: 16px 16px 0px 16px !important;
}

.user-dropdown {
  display: flex;
  align-items: center;
}

.only-before-login {
  position: relative;
  top: -4px;
}

.games-dropdown-items,
.user-dropdown-items {
  position: absolute;
  z-index: 3;
  top: 51px;
  right: 13px;
  overflow: hidden;
  height: max-content !important;
  width: max-content;
}

.games-dropdown-hidden-position,
.user-dropdown-hidden-position {
  transform: translateY(-100%) !important;
}

.user-dropdown img {
  height: 35px;
}

.user-dropdown div {
  display: inline-block;
}

.games-links-container {
  display: none;
}

.games-links-container,
.user-container {
  transform: translateY(0%);
  transition: all 0.3s ease-out;
  position: relative;
  padding: 8px 0;
  border-radius: 16px;
  text-align: right;
  width: max-content;
  max-width: 80vw;
  background-color: white;
}

.user-container {
  border-radius: 0px 0px 16px 16px;
}

.user-section {
  background-color: var(--second-yellow);
  color: var(--fg);
  font-weight: 400;
  font-size: 16px;
  border-radius: 16px;
  margin: 5px 7px;
  padding: 0.5rem 1rem;
  box-shadow: inset 0 -1px 0 0 rgb(14 14 44 / 40%);
  cursor: pointer;
}

.btn {
  border: 2px solid gold;
  padding: 8px 10px;
  height: 32px;
  background: white;
  border-radius: 16px;
  /* margin: 8px 16px 8px 0; */
  line-height: 12px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  user-select: none;
}

.btn:disabled {
  border-color: #ccc !important;
  background: white !important;
  color: #ccc !important;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  background: gold;
}

.btn:active {
  color: white;
  background: #0072ce;
}

.btn-outline-none {
  border: none;
  line-height: 32px;
}

.btn-outline-none svg {
  top: 7px;
  position: relative;
}

.cheddar-main-logo-container {
  display: none;
}

@media screen and (max-width: 960px) {
  .cheddar-main-logo-container {
    display: block;
  }

  a.selected {
    color: black;
    background-color: var(--second-yellow);
  }
}

@media only screen and (max-width: 360px) {
  .logo img {
    width: 95%;
  }

  #links {
    margin-left: 1rem;
  }

  header div.title {
    margin-left: 2px;
  }

  header nav a {
    font-size: 11px;
    padding-bottom: 3px;
  }
}

#circulatingSupply {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin: 5px 15px 15px 15px;
}

#circulatingSupply span {
  font-family: Bubblegum Sans !important;
  font-weight: bold;
  font-size: 13px;
  margin: 0 0.2rem 0 0.2rem;
}

#circulatingSupply a {
  color: #222;
  margin: 0 0 0 0.1rem;
  width: 1.5em;
}

#circulatingSupply a:focus {
  outline-style: none;
  outline-color: (--primary);
  box-shadow: none;
  outline-width: 0px;
}

.game-container {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  height: max-content;
}

@media screen and (max-width: 1000px) {
  div.column {
    width: 95vw !important;
    overflow: hidden;
    height: auto;
  }
  .game-container {
    width: 95vw;
  }
}

#rules-layer {
  position: fixed;
  top: 0;
  background-color: #33333398;
  z-index: 1;
  width: 100vw;
  height: 100%;
}

#rules-layer svg {
  position: absolute;
  right: 6%;
  top: 5%;
  z-index: 3;
  background-color: lightgrey;
  padding: 5px;
  border-radius: 8px;
}

#near-game-rules {
  position: absolute;
  z-index: 2;
  left: 15vw;
  right: 15vw;
  top: 10vh;
  background-color: #f1f1ff;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 1px 1px 3px #232621;
}

div.info,
div.stats,
div.account {
  width: 70%;
  margin: 5vmin auto 0;
  box-sizing: border-box;
  padding: 20px 30px;
  background-color: #f1f1ff;
  color: #3a3042;
  border-radius: 3px;
  box-shadow: 1px 1px 3px #232621;
}

div.account {
  margin-top: 50px;
}

#near-game-player-1,
#near-game-player-2,
#near-game-finished,
#near-account,
#near-available-players-list {
  overflow-wrap: break-word;
}

div.stats {
  margin: 50px auto 0 auto !important;
}

div.stats .wrapper {
  display: flex;
}

div.stats #player1 {
  text-align: center;
  display: inline-block;
  width: 50%;
  float: left;
  background-color: #b93848;
  box-sizing: border-box;
  padding: 0 15px 20px;
  border-top-left-radius: 3px;
  color: #232621;
}

div.stats #player1 .capturedPiece {
  width: 2.4vmin;
  height: 2.4vmin;
  background-color: #232621;
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 6vmin;
  display: inline-block;
  box-sizing: border-box;
  transition: all 0.2s linear;
  margin: 5px;
}

div.stats #player2 {
  text-align: center;
  display: inline-block;
  width: 50%;
  float: left;
  background-color: #232621;
  box-sizing: border-box;
  padding: 0 15px 20px;
  border-top-right-radius: 3px;
  color: #b93848;
}

div.stats #player2 .capturedPiece {
  width: 2.4vmin;
  height: 2.4vmin;
  background-color: #b93848;
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 6vmin;
  display: inline-block;
  box-sizing: border-box;
  transition: all 0.2s linear;
  margin: 5px;
}

div.stats div.turn {
  height: 10px;
  width: 100%;
  background: linear-gradient(to right, #beee62 50%, transparent 50%);
  border-radius: 0 0 3px 3px;
}

div.stats span#winner {
  display: block;
  padding: 10px 0 0;
  text-align: center;
}

div.stats button#cleargame {
  display: block;
  border: 0;
  color: #f1f1ff;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px auto 10px;
  padding: 10px;
  background-color: #16a8c7;
  box-shadow: 1px 1px 3px #232621;
  transition: background-color 0.15s linear;
}

div.stats button#cleargame:hover {
  background-color: #0c5a6b;
}

.button {
  background: #8542eb;
  border-radius: 16px;
  box-shadow: inset 0 -1px 0 0 rgb(14 14 44 / 40%);
  color: hsla(0, 0%, 100%, 0.89);
  font-size: 16px;
  font-weight: 400;
  margin: 5px 7px;
  padding: 0.5rem 1rem;
  font-family: 'Bubblegum Sans', cursive;
  cursor: pointer;
}

.button:hover {
  background-color: #9d67ef;
  font-weight: 700;
}

.button.centered {
  margin: 20px auto 10px;
}

div#board {
  position: relative;
  max-width: 98%;
  max-height: 80vh;
  aspect-ratio: 1;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #232621;
  background-color: #b93848;
  border: 5px solid rgba(255, 210, 98, 0.66);
  margin: 0 auto;
}

div#board .tiles {
  width: 100%;
  height: 100%;
}

div#board .tile {
  width: 12.5%;
  aspect-ratio: 1;
  position: absolute;
  background-color: #232621;
}

.piece {
  display: flex;
  justify-content: center;
  align-items: center;
}

div#board .player1pieces .piece {
  position: absolute;
  width: 10%;
  aspect-ratio: 1;
  background-color: #e4a6ae;
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
  box-sizing: border-box;
  transition: all 0.2s linear;
  margin: 1.3%;
  cursor: pointer;
  border: 1vmin solid #b93848;
}

div#board .player1pieces .piece.selected {
  box-shadow: 0 0 10px 5px #16a8c7;
}

div#board .player1pieces.inverted .piece {
  background-color: #f1f1ff !important;
  border: 1vmin solid #8b8bff !important;
}

div#board .player2pieces .piece {
  position: absolute;
  width: 10%;
  aspect-ratio: 1;
  background-color: #f1f1ff;
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
  box-sizing: border-box;
  transition: all 0.2s linear;
  margin: 1.3%;
  cursor: pointer;
  border: 1vmin solid #8b8bff;
}

div#board .player2pieces .piece.selected {
  box-shadow: 0 0 10px 5px #16a8c7;
}

div#board .player2pieces.inverted .piece {
  background-color: #e4a6ae !important;
  border: 1vmin solid #b93848 !important;
}

.piece img {
  height: 90%;
}

.invitation-input-line {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
}

.invitation-input-line input {
  width: 80%;
  max-width: 280px;
}

.invitation-input-line svg {
  cursor: pointer;
  margin: 5px;
}
